<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/bible-bookmark.gif">
         <run
               class="com.coconut_palm_software.bread.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.coconut_palm_software.bread.ui.Perspective"
            icon="icons/bible-cracked.gif"
            id="com.coconut_palm_software.bread.ui.perspective"
            name="Bible Study">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="com.coconut_palm_software.bread.ui.View"
            icon="icons/bible-cracked.gif"
            id="com.coconut_palm_software.bread.ui.view"
            name="Bible">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.coconut_palm_software.bread.ui.application"
            name="The Bread Board">
         <property
               name="windowImages"
               value="icons/bible-bookmark.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="The Bread Board">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.coconut_palm_software.bread.ui.BibleEditor"
            default="false"
            icon="icons/bible.gif"
            id="com.coconut_palm_software.bread.ui.Bible"
            name="Chapter"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.coconut_palm_software.bread.ui.commands.category"
            name="Bible commands">
      </category>
      <command
            categoryId="com.coconut_palm_software.bread.ui.commands.category"
            id="com.coconut_palm_software.bread.ui.commands.randomVerse"
            name="Random Bible Verse">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.coconut_palm_software.bread.ui.handlers.RandomVerseHandler"
            commandId="com.coconut_palm_software.bread.ui.commands.randomVerse">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.coconut_palm_software.bread.ui.commands.randomVerse"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
<!--      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.coconut_palm_software.bread.ui.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="com.coconut_palm_software.bread.ui.commands.randomVerse"
                  id="com.coconut_palm_software.bread.ui.menus.randomVerse"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.coconut_palm_software.bread.ui.view">
        <command
              commandId="com.coconut_palm_software.bread.ui.commands.randomVerse"
              icon="icons/sample.gif"
              id="com.coconut_palm_software.bread.ui.toolbars.randomVerse"
              tooltip="Say hello world">
        </command>
      </menuContribution>-->
      <menuContribution
            locationURI="menu:com.coconut_palm_software.bread.ui.view">
        <command
              commandId="com.coconut_palm_software.bread.ui.commands.randomVerse"
              icon="icons/star.gif"
              id="com.coconut_palm_software.bread.ui.menus.randomVerse"
              mnemonic="R">
        </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.coconut_palm_software.bread.ui.CheckIndexes">
      </startup>
   </extension>

</plugin>
